body{
    margin: 0;
}

main{
    background: linear-gradient(to top, #2c3e50, #bdc3c7);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Oxygen, sans-serif;
    text-align: center;
    transition: 0.3s;
}

.fun{
    background: linear-gradient(to top, #967BB6, #C5CAE9); /* Purple to light blue */
}

.activity{
    transition: 0.3s;
    background: red;
    color: white;
    padding: 0.5em;
    border-radius: 5px;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid darkred;
    cursor: pointer;
}